<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Kailas More/CICD-Automation">
        <classes>
            <class name="AutomationProject.LaunchClass">
            </class>
        </classes>
    </test>
</suite>

        <!--        <?xml version="1.0" encoding="UTF-8"?>-->
        <!--        <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
        <!--<suite name="Suite">-->
        <!--<test thread-count="5" name="Test">-->
        <!--    <classes>-->
        <!--        <class name="AutomationProject.com.AutomationProject.TestClass1"/>-->
        <!--    </classes>-->
        <!--</test> &lt;!&ndash; Test &ndash;&gt;-->
        <!--</suite> &lt;!&ndash; Suite &ndash;&gt;-->
